.App {
  text-align: center;
  background-color: #FEF0FF;
  font-family: 'Fira Sans Condensed', sans-serif;
}

body {
  background-color: #FEF0FF;
}

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  padding: 50px;
  text-align: left;
  width: 135px;
}

nav a {
  text-decoration: none;
}

nav h2 {
  font-family: 'Dawning of a New Day', cursive;
}
