.App {
  text-align: center;
  background-color: #FEF0FF;
  font-family: 'Fira Sans Condensed', sans-serif;
}

/* body {
  position: relative;
  left: 175px;
  background-color: #FEF0FF;
  width: 75vw;
} */

nav {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  padding: 5px 40px 20px 24px;
  text-align: left;
  width: 150px;
  color: #111;
}

nav a {
  text-decoration: none;
  color: #111;
  padding: 5px 0;
  font-size: 21px;
}

nav h2 {
  font-family: 'Dawning of a New Day', cursive;
}

.casey {
  font-size: 38px;
}

.nav-links {
  display: flex;
  flex-direction: column;
}

.menu-button {
  display: none;
}

.menu-button:hover {
  cursor: pointer;
}

.open-menu {
  display: none;
}

.content {
  margin-left: 185px;
  width: 75%;
  max-width: 1400px;
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}

#illustrations {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  grid-column-gap: 35px;

  /* column-count: 2;
  column-gap: 10px;
  column-fill: auto; */
  /* width: 100%; */
}

.content img {
  width: 99%;
  margin: 17px;
  /* grid-row-start: auto; */
}

#illustrations img {
  /* display: inline-block; */
  /* column-break-inside: avoid; */
  /* width: 100%;
  margin: 17px; */
}

#single-page {
  height: 100vh;
}

#olga img {
  width: 89%;
}

#full-img {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
}

.tri-grid {
  display: grid;
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: center;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  grid-column-gap: 35px;
}

.tri-grid img {

}

@keyframes menu-opening {
  0% {
    top: -50vh;
  }

  100% {
    top: 0;
  }
}

@media only screen and (max-width: 800px) {

  .open-menu {
    position: absolute;
    top: 0;
    /* display: contents; */
    /* flex-direction: column; */
    height: 50vh;
    background-color: black;
    color: white;
    width: 100vw;
    z-index: 15;
  }

  #active-menu {
    display: contents;
    animation: menu-opening ease-out 500ms;
  }

  .open-menu a {
    background: black;
    color: #ccc;
    text-decoration: none;
    padding: 18px;
  }

  .open-menu a:hover {
    color: white;
  }

  .App {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  nav {
    position: relative;
    top: 0;
    flex-direction: row;
    width: 100%;
    align-items: center;
    padding-right: 0;
    justify-content: space-around;
    z-index: 5;
    height: auto;
    margin: 0 0 0 50px 0;
    padding: 0;
    /* min-width: 325px; */
  }

  .logo-container {
    position: relative;
    left: -4%;
    height: auto;
    top: 5px;
    z-index: 6;
    width: 60%;
  }

  .logo-container h2 {
    margin: 0;
  }

  .menu-button {
    position: relative;
    right: -2%;
    height: 50px;
    top: 5px;
    z-index: 6;
  }

  .content {
    margin-left: 0px;
    /* margin-top: 175px; */
    width: 100%;
    /* padding-top: 95px; */
  }

  .content img {
    width: 90%;
    margin: 17px 0 17px 0;
  }


  .nav-links {
    display: none;
    width: 100vw;
  }

  .menu-button {
    display: flex;
    align-items: center;
  }

  #illustrations {
    grid-template-columns: 1fr;
    justify-items: center;
    width: 100%;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  #illustrations img {
    grid-column-start: 1;
  }

  #illustration a {
    justify-self: center;
    grid-column-start: 1;
    height: 100%;
  }

  #full-img {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: center;
  }

  .tri-grid {
    grid-template-columns: 1fr;
    justify-items: center;
  }
}

@media only screen and (max-width: 414px) {
  .logo-container {
    width: 90%;
    left: 5%;
  }

  .menu-button {
    right: 5%;
  }
}
